# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
**/__pycache__/

# Misc
*.log